body {
    background-color: rgb(114, 83, 6);
}
h1 {
    font-size: 50px;
    font-family: monospace;
    text-align: left;
    color:  brown;
    text-shadow: chocolate;
}

p {
    color: black;
}

h2 {
    color:rgb(133, 100, 17);
    text-align: center;

}