body {
    background-color: rgb(114, 83, 6);
}
h1 {
    font-size: 50px;
    font-family: monospace;
    text-align: left;
    color:  brown;
    text-shadow: chocolate;
}

p {
    color:sienna;
    text-align: left;
}

h2 {
    color:rgb(133, 100, 17);
    text-align: left;
    font-family: monospace;

}

img {
    align-items: center;
    size: 100px;
}

.hollywoodtext {
    text-align: left;
    color:sienna;
}

.topics {
    text-align: left;
    font-family: serif;
    color:sienna;

}

.celebPics {
    float: left;
}