body {
    margin: 0px 100px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThZSsAAqMsBtCbs0OlecLJ2n0gR3mg5B-dug&usqp=CAU);
}

h1 {
    font-size: 50px;
    font-family: monospace;
    text-align: center;
    color:  brown;
    text-shadow: chocolate;
}

p {
    color:sienna;
    text-align: center;
}

h2 {
    color:rgb(133, 100, 17);
    text-align: left;
    font-family: monospace;

}

img {
    align-items: center;
    size: 100px;
}

.hollywoodtext {
    text-align: left;
    color:sienna;
}

.topics {
    text-align: left;
    font-family: serif;
    color:sienna;

}

.celebPics {
    float: left;
}
