<body>
<hr>
<h1>Fun Facts</h1> 

<img class= background src="https://www.precheck.com/sites/default/files/styles/blog__large/public/texas-schools-granted-access-to-background-checks.jpg?itok=ZcCgfWnA" alt style="width: 1230px;height: 400px; float: left;"><hr>

<br><p>The beautiful state of TEXAS has given us many beautiful things. Like many celebrities we look up to and admire, unique traditions, and has helped create many things we all know.</p>

<img src = "https://images.unsplash.com/photo-1615418343030-e913f58be0c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80" alt style= "height:300px;width:200px;float:right;">
<br><br><h2>Celebrities</h2><hr>

<p class=hollywoodtext>Many of the celebrities we look up to and admire were born and raised in the beautiful state of Texas.</p>

<ul>
    <br><br><br>
    <li>
        <h3 class= topics>Beyonce</h3>
        <p class= topics>Born and raised in Houston Texas, Beyonce performed in various singing and dancing competitions as a child. She is now an American singer, songwriter, record producer, and actress. Beyonce also runs a non-profit organization that provides water and hot meals to residents in Houston.</p>
        <img class= celebPics src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrTwkiMlWm_dwDL3npNAFG1mJmcvc-A9HvSw&usqp=CAU">
    </li>

    <br><br><br><br><br><br><br><br><br><br>
    <li>
        <h3 class= topics> Selena Gomez</h3>
        <p class= topics>Selena is an American singer and actress she was born and raised in Grand Prarie Texas. Selena has been in many of the childhood shows and movies we grew up watching. After her acting career took of that is when she began to pursue her singing career and was successful.</p>
        <img class= celebPics src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMBw8VOHXu1KwowJ9WvQrqsoApuMct9CmSvw&usqp=CAU">
    </li>

    <br><br><br><br><br><br><br><br><br><br>
    <li>
        <h3 class= topics> Nick Jonas</h3>
        <p class= topics>Nick is an American singer, songwritter, and actor who was born in Dallas Tx. He began by acting in theater at the age of 7. He later released his debut single in 2002. This caught the attention of columbia records and he formed a band with his brothers and they became the Jonas Brothers.</p>
        <img class= celebPics src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNTleQ84HX3APtCxAL6LlhrdKlAmrthO7gJA&usqp=CAU">
    </li>
</ul>

<br><br><br><br><br><br><br><br><br><br>

<h2>School Traditions</h2><hr>
    <ul>
        <li>
            <h3 class= topics> Homecoming Mums</h3>
            <p class= topics>Homecoming mums appeared in Texas around the 1930s, and they began as a sweet token given to a girl by her date in honor of the high school homecomng game and events. As the tradition grew in popularity so did the elaborate design of the mums. Eventually girls began to take matter into their own hands and would either make their own mums or bought them for themselves.</p>
            <img src = "https://res.cloudinary.com/sagacity/image/upload/c_crop,h_1800,w_1126,x_185,y_0/c_limit,f_auto,fl_lossy,q_80,w_640/14500574_10154542326739664_3518066431161086994_o_rqjyzl.jpg" alt style= "height:300px;width:250px;float:right;">
            <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQfx2WjzZAyC1CSE-OD-Tgm4ax10ez3e64-g&usqp=CAU" alt style= "height:300px;width:310px;float:center;">
            <img src = "https://cdn11.bigcommerce.com/s-zw4pw/product_images/uploaded_images/football-homecoming-mums-pasadena.jpg" alt style= "float:center;height:300px;width:630px;">
        </li>

        <li> 
            <h3 class= topics> Fair Day</h3>
            <p class= topics>The biggest fair in America is the State Fair of Texas. Which is why fair day is such a big deal. Each year on a friday when the state fair is occuring all elementary student receive a fair ticket and get the day off to enjoy the amazing fair. The following week on friday the same occurs for Middle schools and high schools.</p>
            <img src = "https://gray-kosa-prod.cdn.arcpublishing.com/resizer/Jwh01b54bHH4a0LOK27tXUvt7aA=/1200x1800/smart/cloudfront-us-east-1.images.arcpublishing.com/gray/YYEEVPKOF5DY7C354TZIYGACL4.jpg" alt style = "height:300px;width:200px;float:right;">
            <img src = "https://res.cloudinary.com/culturemap-com/image/upload/ar_4:3,c_fill,g_faces:center,w_980/v1533758893/photos/279520_original.jpg" alt style = "height:300px;width:350px;float:Left;">
            <img src = "https://gov.texas.gov/uploads/images/first-lady/state_fair.jpg" alt style = "height:300px;width:350px;float:right;">
            <img src = "https://cdn.texashighways.com/2016/09/images_statefair-1016.jpg" alt style = "height:300px;width:300px;float:left;">
        </li>
    </ul>

<br><br><b><br><br><br></b><br><br><br><br><br><br><br><br><br><br>
<h2>Interesting creations</h2><hr>

    <ul>
        <li>
            <h3 class= topics>Dr Pepper</h3>
            <p class= topics>It was created by pharmacist Charles Alderton in Waco Texas in the 1880s. It is said that charles liked the smell of all the different fruit syrups and wanted to make a drink that tasted like that smell. That is how he came up with the first Dr Pepper.</p>
            <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxd85ElEQtoBrxMhaV2gqp7k15sOVQre0qWw&usqp=CAU" alt style = "float:left;">
        </li>
        
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <li>
        <h3 class= topics>Bugs Bunny Catchphrase</h3>
        <p class= topics> Tex Avery was an American animator and director, and is known for producing and animating many cartoons during the golden age of American animation. He was born and raised in Taylor Texas and attended North Dallas high school. He was the one to suggest the catchprase and said he didnt think much of it since it was commonly used where he lived.</p>
        <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSInW_OJ_ujKUWlsFrhYgEedr8cQFtmD2f6MQ&usqp=CAU" alt style="height: 300px; width:600px; float:right;">
        </li>

        <br><br><br><br><br><br><br><br><br><br><br><br>
        <li>
            <h3 class= topics>Time Capsule</h3>
            <p class= topics>On the 100th anniversary of the discovery of helium the Helium Centennial Time Columns Monument was built in 1968. Each leg of the sculpture is a time capsule, with artifacts, letters, and knowledge from 1968 stored inside in an inert helium atmosphere. One of the time capsule is said to contains a passbook to a bank account expected to be worth $1 quadrillion by the time it opens in 2968.</p>
            <img src = "https://img.theculturetrip.com/450x/smart/wp-content/uploads/2019/02/cn5k2r.jpg" alt style="height: 300px; width:600px; float:right;">
        </li>
    </ul><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <hr>
</body>