h1 {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color:  rgb(66, 44, 44);
    text-shadow: chocolate;
    margin: 0;
}
p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
    font-size: 25px;
    color:rgb(0, 0, 0);
    text-align: center;

}h2 {
    color:rgb(155, 146, 231);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 75px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-block-start: 0em;
    font-weight: lighter;

}
.Auto {
    display: flex;
    justify-content: center;
    margin-block-start: -50px;
}
.Bigger{
    margin-block-start: -20px;
    margin-right: 150px;
}
.Bio{
    display: flex;
    justify-content: center;
    margin-top: -750px;
}
.containerhome{
    height: 1000px;
    width: 100%;
    background-image: url(https://images7.alphacoders.com/299/thumb-1920-299470.jpg);
    background-position: center;
    background-origin: border-box;
    background-size: auto;
    position: relative;
    padding: 0em;
    margin: 0 auto;
}
.Arrow1{
    display: flex;
    justify-content: center;
    align-items: baseline;
    justify-content: center;
    margin-block-start: -60px;
}
.Side1 {
    margin-block-start: -125px;
    margin-left: 65px;
}
.Side2 {
    margin-block-start: -204px;
    margin-left: 265px;
}
.Side3 {
    margin-block-start: -4px;
    margin-left: 65px;
}
.Side4 {
    margin-block-start: -204px;
    margin-left: 265px;
}
.Side5 {
    margin-block-start: -4px;
    margin-left: 65px;
}
.Side6 {
    margin-block-start: -204px;
    margin-left: 265px;
}
.Side7 {
    margin-block-start: -4px;
    margin-left: 65px;
}
.Side8 {
    margin-block-start: -204px;
    margin-left: 265px;
}

 


/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}
.containerflex {
    display: flex;
    justify-content: space-around;
    align-content: center;
.flexus {
    border: 2px solid orangered;
    width: 230px;
    img { 
        width: 220px;
    }
}

}
